<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Normal Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <queries>

        <!-- Apps that can open a URL (e.g. browsers) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Apps (browsers) that support Custom Tabs -->
        <intent>
            <action android:name=
                "android.support.customtabs.action.CustomTabsService" />
        </intent>

        <!-- Apps that accept sharing plaintext -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>

    </queries>

    <application
        android:name="com.neverreader.app.App"
        android:hardwareAccelerated="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nm_icon"
        android:theme="@style/Theme.PocketDefault"
        android:localeConfig="@xml/locale_config"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Main Activities -->
        <activity
            android:name="com.neverreader.app.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name="com.neverreader.app.auth.AuthenticationActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:launchMode="singleTask"
            android:exported="true"
            />
        <activity
            android:name="com.neverreader.app.tags.ItemsTaggingActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name="com.neverreader.app.tags.StandaloneItemsTaggingActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent.StandaloneDialogActivity2"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.neverreader.app.reader.internal.article.image.ImageViewerActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name="com.neverreader.app.settings.account.AccountManagementActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />
        <activity
            android:name="com.neverreader.app.listen.ListenSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" />

        <!-- Media && TTS -->
        <service android:name="com.neverreader.sdk.util.wakelock.WakefulAppService" />

        <!-- Exported Components (Available to other apps) -->
        <activity
            android:name="com.neverreader.app.add.AddActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/Theme.Transparent.StandaloneDialogActivity2"
            android:exported="true"
            android:label="@string/nm_add_to_ril"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity-alias
            android:name="com.ideashower.readitlater.activity.AddActivity"
            android:label="@string/nm_add_to_ril"
            android:exported="true"
            android:targetActivity="com.neverreader.app.add.AddActivity" >
            <intent-filter android:label="@string/nm_add_to_ril" >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.neverreader.app.reader.internal.originalweb.overlay.OriginalWebOverlayActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:theme="@style/Theme.Transparent.StandaloneDialogActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <receiver android:name="com.neverreader.app.reader.internal.originalweb.CustomTabEventReceiver"
            android:exported="false"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge"
            >
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove"
                />
        </provider>
    </application>

</manifest>
